* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f9;
}

/* HEADER */
header {
    background-color: #0d3b66;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #61d2f4; /* Added border */
    padding: 5px 10px; /* Adjusted padding for better appearance */
    border-radius: 8px; /* Adjusted border radius */
}

nav a.login {
    background-color: #61bef4;
    padding: 8px 18px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    transition: all 0.3s ease;
}

/* efeito hover */
nav a.login:hover {
    background-color: #4aa8dd; /* mesma cor, só um pouco mais escura */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* efeito ao clicar */
nav a.login:active {
    transform: translateY(0);
    box-shadow: none;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(13,59,102,0.7), rgba(13,59,102,0.7)),
    url('https://images.unsplash.com/photo-1580582932707-520aed937b7b') no-repeat center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #2a9d8f;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;text-align: center;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 23px;
    padding: 40px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #0d3b66;
}

.card ul {
    list-style: none;
}

.card ul li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background-color: #0d3b66;
    color: white;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
}