<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colégio Modelo</title>
    <link rel="stylesheet" href="index.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-grid.min.css"> -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<header>
    
        <span style="background-color: red;">I</span>
        <span style="background-color: ;">M</span>
        <span style="">A</span>
        <span style="">T</span>
        <span style="">A</span>
        <span style="">T</span>
        <span></span>
    
    <nav>
        <a href="index.html">Início</a>
        <a href="sobre.html">Sobre a Escola</a>
        <a href="curso.html">Cursos</a>
        <a href="dashboard.html" class="login">Login</a>
    </nav>
</header>
<section class="hero">
    <div class="hero-content">
        <h2>Garanta já a vaga do seu educando com agendamento online rápido e seguro.</h2>
       <button  
        onclick="location.href='agendamento.html'">Agendar Matrícula</button>
    </div>
</section>

<section class="cards">
    <div class="card">
        <h3>Período de Matrículas</h3>
        <p></p>
    </div>

    <div class="card">
        <h3>Documentos Necessários</h3>
        <ul>
        </ul>
    </div>

    <div class="card">
        <h3>Taxas & Propinas</h3>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="card">
        <h3>Formais de pagamento</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</section>

<footer>
    <div>
        <h4>Contacto</h4>
        <p>+244 933406143</p>
        <p>adiilsonsatos403.@gmail.com</p>
    </div>

    <div>
        <h4>Localidade</h4>
        <p>Municipo de via</p>
        <p>SAPÙ-2, Angola</p>
    </div>

    <div>
        <h4>Redes Sociais</h4>
        <p>Facebook</p>
        <p>Instagram</p>
    </div>
</footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<!-- <script src="js/bootstrap.min.js"></script> -->

</body>

</html>